.menu-mobile {
    display: none;
    padding: 20px;
}

.css-menu,
.css-menu ul,
.css-menu ul ul li,
.css-menu ul ul li a,
.css-menu .menu-button {
  padding-top: 20px;
  margin: 0;

  list-style: none;

  position: relative;
  box-sizing: border-box;
}
.css-menu:after,
.css-menu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.css-menu .menu-button {
  display: none;
}
.css-menu {
  width: auto;
  line-height: 1;
}
#menu-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.css-menu > ul > li {
  position: relative
}
.css-menu.align-center > ul {
  font-size: 0;
  text-align: center;
}
.css-menu.align-center > ul > li {
  display: inline-block;
  float: none;
}
.css-menu.align-center ul ul {
  text-align: left;
}
.css-menu.align-right > ul > li {
  float: right;
}
.css-menu.align-right ul ul {
  text-align: right;
}
.css-menu > ul > li > a {
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
.css-menu > ul > li.has-sub > a {
}

/*navigation*/
.header-nav .menu{
  margin: 0;
  padding: 0;
}

.header-nav .menu > li{
  padding: 0 13px;
}
.header-nav.sticky-navbar .menu > li{
  padding: 12px 13px;
}
.header-nav .menu > li > a{
  line-height: 58px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  padding: 0 13px;
  letter-spacing: 0;
  display: block;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.header-nav .menu > li > a.active::after {
  bottom: 0;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%;
}

.header-nav .main-menu-style2 .menu > li > a.active::before{
    top: 42px;
}

.header-nav .sticky-navbar .main-menu-style2 .menu > li > a.active::before{
    top: 34px;
}
.header-nav .sticky-navbar .main-menu-style2 .menu > li > a.active::after{
  top: 66px;
}
.header-nav.sticky-navbar .menu > li > a.active:before{
    top: 34px;
}
.header-nav.sticky-navbar .menu > li > a.active::after{
  top: 66px;
}
.sticky-navbar .main-menu-style2 .menu > li{
  padding-top: 12px;
  padding-bottom: 12px;
}
.header-nav .menu > li > a:hover{
  color: #bf9456;
}
.header-nav .menu  a:hover,
.header-nav .menu  a:focus,
.header-nav .menu  a:active{
  text-decoration: none;
}
/*nav-style-dark*/
.header-nav.nav-style-dark{
  background-color: #131313;
  border-top: none;
  z-index: 999;
}
.header-nav.nav-style-dark .menu > li > a{
  color: #fff;
}
.header-nav.nav-style-dark .menu > li{
  margin-left: -4px;
}
.header-nav.nav-style-dark .menu > li.active > a,
.header-nav.nav-style-dark .menu > li:hover > a{
  background-color: rgba(255, 255, 255, .1);
}

.header-nav.nav-style-dark .menu > .pull-right:hover a{
  background-color: #131313;
}
.header-nav.nav-style-dark .menu > .pull-right{
  margin-left: 11px;
}
.header-nav .menu > .search-box > ul{
  width: 480px;
  text-align: right;
  max-width: 480px;
}

.sticky-navbar.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.8);
  border-color: rgba(0,0,0,.9);
  z-index: 9999;
  max-width: 100%;
  width: 100%;
  padding: 0;
}
.sticky-navbar.sticky-header .main-menu-style2{
  margin-top: 0;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}
.sticky-header .css-menu .menu-button{
  line-height: 60px;
}

.search-box .search-form{
  padding: 30px;
  border:1px solid rgba(0, 0, 0, 0.1);
}
.header-nav .menu > .search-box:hover > ul{
  left: auto;
  right: 0;
}
.header-nav.nav-style-dark .menu > .pull-right > a{
  background-color: rgba(255, 255, 255, .1);
  width: 45px;
  line-height: 43px;
  height: 43px;
  text-align: center;
  padding: 0;
  margin-top: 17px;
}

/*nav-style-light*/
.header-nav.nav-style-light{
  background-color: #fff;
  border-top: none;
  z-index: 999;
}
.header-nav.nav-style-light .menu > li{
  margin-left: -4px;
  padding: 0 14px;
}
.header-nav.nav-style-light .menu > li > a{
  position: relative;
  padding: 0 10px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1em;
}
.header-nav.nav-style-light .menu > li.active > a:before,
.header-nav.nav-style-light .menu > li:hover > a:before{
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
}
.css-menu > ul > li.has-sub:hover > a::after {
  border-color: #009ae1;
}
.css-menu ul ul {
  position: absolute;
  left: -9999px;
  z-index: 99999 !important;
  text-align: left;
  border: 1px solid #e5e5e5;
  border-bottom: none;
  background-color: #fff;
}
.css-menu li:hover > ul {
  left: auto;
  animation: fadeinUp .3s;
}
.sticky-navbar.sticky-header .css-menu ul ul ul{
  top: 0;
}
.sticky-navbar.sticky-header .css-menu ul ul{
  top: 80px;
}
.css-menu.align-right li:hover > ul {
  right: 0;
}
.css-menu ul ul ul {
  margin-left: 100%;
  top: 0;
}
.css-menu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
.css-menu ul ul li {
}
.css-menu ul li:hover > ul > li {

}
.css-menu ul ul li a {
  padding: 20px 20px;
  width: 220px;
  font-size: 14px;
  border-bottom: 1px solid #e5e5e5;
  text-decoration: none;
  transition: color .2s ease;
  display: block;
  background-color: #fff;
}
.nav-style-dark .css-menu ul ul{
  border-color: rgba(255, 255, 255, .1);
  background-color: #131313;
}

.nav-style-dark .css-menu ul ul li a{
  background-color: #131313;
  color: #fff;
  border-bottom-color: rgba(255, 255, 255, .1);
}
.nav-style-dark .css-menu .menu-button::before{
  border-color: #fff;
}
.nav-style-dark .css-menu .submenu-button::after,
.nav-style-dark .css-menu .submenu-button::before,
.nav-style-dark .css-menu .menu-button::after{
  background-color: #fff;
}
.nav-style-dark .css-menu ul ul li.active > a,
.nav-style-dark .css-menu ul ul li:hover > a{
  background-color: rgba(255, 255, 255, .1);
  color: #fff;

}
.nav-style-dark .css-menu ul ul li.has-sub > a::after,
.nav-style-dark .css-menu ul ul li.has-sub:hover > a::after{
  border-color: #fff;
}

.css-menu ul ul li.has-sub > a::after {
  position: absolute;
  top: calc(50% - 4px );
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #212121;
  border-right: 1px solid #212121;
  content: "";
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
.css-menu.align-right ul ul li.has-sub > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #212121;
  border-left: 1px solid #212121;
}
.css-menu ul ul li.has-sub:hover > a::after {
  border-color: #000;
}
@media (max-width: 800px) {
  .sticky-navbar.sticky-header .main-menu-style2{
    padding: 0;
  }
  .sticky-navbar.sticky-header .css-menu ul ul{
    top: 0;
  }
  .header-nav.sticky-navbar .menu > li{
    padding: 0 13px;
  }
  .sticky-navbar .main-menu-style2 .menu > li{
    padding-top: 0;
    padding-bottom: 0;
  }
  .header-nav.nav-style-dark .menu > li{
    position: relative;
  }
  .header-nav .menu > .search-box > .submenu-button,
  .header-nav .menu > .search-box > a{
    display: none !important;
  }
  .header-nav .menu > .search-box ul{
    display: block !important;
  }
  .header-nav .menu > .pull-right{
    display: inline-block;
    float: left !important;
    margin-bottom: 30px;
    width: auto;
  }
  .header-nav .menu > .search-box{
    min-width: 100%;
    margin: 0;
  }
  .search-box .search-form{
    padding: 17px 17px 17px 0;
  }
  .css-menu {
    width: 100%;
  }
  body .header-nav .menu  li  a{
    line-height: 50px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 20px;
    padding-bottom: 20px;
    border-bottom: none;
  }
  body .header-nav .menu ul{
    border: none;
    animation: fadeinUp 0s;
  }
  .css-menu ul {
    width: 100%;
    display: none;
  }
  .css-menu.align-center > ul,
  .css-menu.align-right ul ul {
    text-align: left;
  }
  .css-menu ul li,
  .css-menu ul ul li,
  .css-menu ul li:hover > ul > li {
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(120, 120, 120, 0.15);
  }
  .css-menu ul li a,
  .css-menu ul ul li a {
    width: 100%;
  }
  .css-menu > ul > li,
  .css-menu.align-center > ul > li,
  .css-menu.align-right > ul > li {
    float: none;
    display: block;
  }
  .css-menu ul ul li a {
    padding: 20px 20px 20px 30px;
    background: none;
  }
  .css-menu ul ul li:hover > a,
  .css-menu ul ul li a:hover {
  }
  .css-menu ul ul ul li a {
    padding-left: 40px;
  }
  .css-menu ul ul,
  .css-menu ul ul ul {
    position: relative;
    left: 0;
    right: auto;
    width: 100%;
    margin: 0;
  }
  .css-menu > ul > li.has-sub > a::after,
  .css-menu ul ul li.has-sub > a::after {
    display: none;
  }
  #menu-line {
    display: none;
  }
  .css-menu .menu-button {
    display: block;
    padding: 0 20px;
    cursor: pointer;
    text-transform: uppercase;
    line-height: 78px;
    text-align: left;
    color: #fff;
  }
  .css-menu .menu-button::after {
    content: '';
    position: absolute;
    top: 30px;
    top: calc( 50% - 1px );
    right: 20px;
    display: block;
    width: 15px;
    height: 2px;
    background: #000000;
  }
  .css-menu .menu-button::before {
    content: '';
    position: absolute;
    top: 25px;
    top: calc( 50% - 6px );
    right: 20px;
    display: block;
    width: 15px;
    height: 12px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
  }
  .css-menu .submenu-button {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.15);
    height: 52px;
    width: 52px;
    cursor: pointer;
  }
  .css-menu .submenu-button::after {
    content: '';
    position: absolute;
    top: 21px;
    left: 26px;
    display: block;
    width: 1px;
    height: 11px;
    background: #000000;
    z-index: 99;
  }
  .css-menu .submenu-button::before {
    content: '';
    position: absolute;
    left: 21px;
    top: 26px;
    display: block;
    width: 11px;
    height: 1px;
    background: #000000;
    z-index: 99;
  }
  .css-menu .submenu-button.submenu-opened:after {
    display: none;
  }
}

@keyframes fadeinUp {
    from { opacity: 0; margin-top: 30px; }
    to   { opacity: 1; margin-top: 0; }
}

/* Firefox */
@-moz-keyframes fadeinUp {
    from { opacity: 0; margin-top: 10px;}
    to   { opacity: 1; margin-top: 0;}
}

/* Safari and Chrome */
@-webkit-keyframes fadeinUp {
    from { opacity: 0; margin-top: 10px;}
    to   { opacity: 1; margin-top: 0;}
}

/* Internet Explorer */
@-ms-keyframes fadeinUp {
    from { opacity: 0; margin-top: 10px;}
    to   { opacity: 1; margin-top: 0;}
}

/* Opera */
@-o-keyframes fadeinUp {
    from { opacity: 0; margin-top: 10px;}
    to   { opacity: 1; margin-top: 0;}
}
