@charset "UTF-8";

.container,
.container-md,
.container-sm {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 576px) {

    .container,
    .container-sm {
        max-width: 540px
    }
}


@media (min-width: 992px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 960px
    }
}

@media (min-width: 1200px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 1140px
    }
}

@media (min-width: 1400px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 1320px
    }
}


@media only screen and (min-width: 768px) and (max-width: 1024px){
    .header-nav .container{
        max-width: unset;
    }
    .header-nav .container .main-menu-style2{
        display: block;
    }
   
}


@media only screen and (min-width: 200px) and (max-width: 1024px) and (orientation : portrait) {
    
    .our-protfolio-area .row{
        display: unset;
    }



.product-grid{
    display: block;
}

    .container,
    .container-md,
    .container-sm {
        max-width: 720px
    }

    .appoinment-image-holder {
        display: none;
    }

    .appoinment-area .row {
        display: block;
    }

    /* //Put your CSS here for 768px to 1024px width devices(covers all width between 768px to 1024px //    */

    .main-menu-style2 .logo,
    .social-icons ul li span,
    .work {
        display: none
    }

    .call-us p {
        font-size: 12px
    }

    .copyright {
        text-align: center
    }

    .about-us-image-holder,
    .service-image-holder {
        margin-bottom: 70px
    }

    .logo {
        display: block
    }

    .our-work-area {
        padding: 0 15px
    }

    .style-single-slide {
        margin-left: 20px;
        margin-right: 20px
    }

    .service-single-padding-right {
        padding: 0 15px;
        margin-bottom: 30px
    }

    .service-area .text-right {
        text-align: left
    }

    .header-nav .logo,
    .topbar {
        display: none
    }

    .header-nav .menu>li>a.active::before {
        display: none
    }

    .work {
        left: 40.6%;
        top: 98px
    }

    .widget .social-icon-circle a {
        margin-bottom: 5px
    }

    .main-menu-style2 .menu>li>a .main-menu-style2 .menu>li>a {
        padding: 0 5px
    }

    .work {
        height: 150px;
        left: 42.4%;
        top: 135px;
        width: 150px
    }

    .work h3 {
        font-size: 20px
    }



    /* //Put your CSS here for 200px to 767px width devices (cover all mobile portrait width //         */

    .slider-content h2 {
        font-size: 30px
    }

    .slider-content h1 {
        font-size: 50px
    }

    .topbar-style2,
    .topbar-style2 .social-icons.text-right {
        text-align: center
    }

    .topbar-style2 .social-icons.text-right li {
        padding-left: 0
    }

    .footer-nav ul {
        margin-top: 20px
    }

    .header-nav .menu>li {
        padding-left: 0
    }

    .social-icons i {
        padding-right: 18px
    }

    .work-image-holder img {
        max-width: 100%
    }

    .call-us,
    .logo,
    .social-icon-circle {
        text-align: center
    }

    .work-image-holder img {
        width: 100%
    }

    .widget .social-icon-circle a {
        margin-bottom: 0
    }
}